<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicTraining.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,102},{109,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>blackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>fourPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,102},{109,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>freeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,175},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>freeGoldArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,111},{75,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>gameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,203},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{43,44}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>greySubmenuLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,111},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{41,56}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>megaPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1},{109,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>menu-settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,199},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>moreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,199},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{43,44}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>moreGamesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,175},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{57,38}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,203},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,203},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>popometerPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{109,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>settingsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,211}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{55,211}}</string>
                <key>sourceSize</key>
                <string>{55,225}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,203},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,203},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>threePoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{109,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>twoPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,98},{109,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>warehouseArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,214},{50,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>warehouseArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{50,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-menu-spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{509,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d5080802300c1d92b8d01959d7bfc61:1/1$</string>
            <key>textureFileName</key>
            <string>popper-menu-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
