<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1842},{155,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{155,86}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>199Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1842},{141,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{141,88}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>20gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1842},{157,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{157,86}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>499Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,918},{143,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{143,90}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>999Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1842},{143,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{143,88}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>99Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1842},{141,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{141,88}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>arrowBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1895},{85,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,30}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1897},{85,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,30}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>blankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,856},{143,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{143,90}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>buyGems.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{742,532}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{742,532}}</string>
                <key>sourceSize</key>
                <string>{750,540}</string>
            </dict>
            <key>buyGemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1631},{292,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,26},{292,73}}</string>
                <key>sourceSize</key>
                <string>{424,125}</string>
            </dict>
            <key>buyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{742,542}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{742,542}}</string>
                <key>sourceSize</key>
                <string>{750,552}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,838},{291,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,25},{291,75}}</string>
                <key>sourceSize</key>
                <string>{423,125}</string>
            </dict>
            <key>freeGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1631},{197,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{197,72}}</string>
                <key>sourceSize</key>
                <string>{207,90}</string>
            </dict>
            <key>freeHints.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,856},{318,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{318,60}}</string>
                <key>sourceSize</key>
                <string>{328,64}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1631},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,40}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>gemHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1489},{137,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{157,47}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1887},{43,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>goldHeader-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1895},{86,24}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>goldHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1631},{165,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{191,47}</string>
            </dict>
            <key>hintButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,838},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>hintHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1489},{139,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,47}}</string>
                <key>sourceSize</key>
                <string>{151,47}</string>
            </dict>
            <key>infoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1727},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>levelCompleteBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1},{730,547}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{730,547}}</string>
                <key>sourceSize</key>
                <string>{750,549}</string>
            </dict>
            <key>megaScorer.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1893},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>menuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,838},{119,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{119,71}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>musicOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1297},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>musicOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1236},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>needAHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,745},{742,493}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{742,493}}</string>
                <key>sourceSize</key>
                <string>{750,499}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1140},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1673},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>pauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,915},{714,508}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{714,508}}</string>
                <key>sourceSize</key>
                <string>{750,508}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1727},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,733},{468,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{468,121}}</string>
                <key>sourceSize</key>
                <string>{472,125}</string>
            </dict>
            <key>playBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{748,450}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{748,450}}</string>
                <key>sourceSize</key>
                <string>{750,450}</string>
            </dict>
            <key>popometerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1630},{198,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,18}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,733},{198,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,18}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,715},{198,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,18}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1913},{198,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,16}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>popometerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1893},{198,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,18}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popperBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1247},{84,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{84,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1727},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,69}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>popperGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1392},{84,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{84,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1897},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>popperPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1392},{84,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{84,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1034},{84,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1897},{34,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>popperYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,948},{84,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{84,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>powerUp1Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1120},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp1On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1159},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp2Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1106},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp2On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1044},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp3Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1063},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp3On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1010},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp4Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,948},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp4On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,967},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUpDescription1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1489},{396,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{396,180}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1495},{396,180}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{396,180}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1495},{398,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{398,182}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1495},{400,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,182}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescriptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1},{712,503}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{712,503}}</string>
                <key>sourceSize</key>
                <string>{750,503}</string>
            </dict>
            <key>powerUpLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1794},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>redX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1313},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1631},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,715},{468,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{468,121}}</string>
                <key>sourceSize</key>
                <string>{468,125}</string>
            </dict>
            <key>ricochet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1727},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>roundBackgroundBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1489},{684,351}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{684,351}}</string>
                <key>sourceSize</key>
                <string>{700,369}</string>
            </dict>
            <key>saleBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,918},{149,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{149,47}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1631},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>soundOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1255},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>soundOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1202},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>tap+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1897},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>tapHere.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1350},{121,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{133,123}</string>
            </dict>
            <key>tapToRemoveAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1798},{224,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{224,125}}</string>
                <key>sourceSize</key>
                <string>{250,129}</string>
            </dict>
            <key>tapsHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1631},{196,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{196,50}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
            <key>undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1727},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>undoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1830},{89,96}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{89,96}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>yellowArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1887},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-levels-spritesheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2040,1931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d18f4a909a0d011148e8b6ce9ab8f17:1/1$</string>
            <key>textureFileName</key>
            <string>popper-levels-spritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
