<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,735},{78,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{78,44}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>199Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,963},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,44}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>20gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,892},{78,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{78,44}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>499Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,826},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,46}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>999Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,826},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>99Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,735},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,44}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>arrowBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,780},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,585},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>blankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,892},{72,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,46}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>buyGems.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{371,266}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{371,266}}</string>
                <key>sourceSize</key>
                <string>{375,270}</string>
            </dict>
            <key>buyGemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,651},{150,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{150,41}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>buyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{371,272}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{371,272}}</string>
                <key>sourceSize</key>
                <string>{375,276}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,693},{148,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{148,41}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>freeGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,768},{100,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{100,37}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>freeHints.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,985},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,30}}</string>
                <key>sourceSize</key>
                <string>{164,32}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,883},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>gemHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,446},{69,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{79,24}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,984},{22,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>goldHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,516},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>hintButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,984},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>hintHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,375},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>infoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,768},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>levelCompleteBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{375,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,275}}</string>
                <key>sourceSize</key>
                <string>{375,275}</string>
            </dict>
            <key>megaScorer.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,629},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>menuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,660},{59,35}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{59,35}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>musicOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,890},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>musicOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,843},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>needAHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,268},{371,246}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{371,246}}</string>
                <key>sourceSize</key>
                <string>{375,250}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,893},{63,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,805},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>pauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,550},{371,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{371,254}}</string>
                <key>sourceSize</key>
                <string>{375,254}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,971},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,830},{234,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{234,61}}</string>
                <key>sourceSize</key>
                <string>{236,63}</string>
            </dict>
            <key>playBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1},{373,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{373,225}}</string>
                <key>sourceSize</key>
                <string>{375,225}</string>
            </dict>
            <key>popometerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,559},{100,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,9}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,984},{98,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,816},{98,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,994},{98,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,8}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>popometerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,806},{98,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popperBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,957},{41,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,796},{45,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,35}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>popperGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,937},{41,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,905},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>popperPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,985},{43,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{43,31}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,985},{43,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{43,31}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,971},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>popperYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,971},{41,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>powerUp1Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,829},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp1On.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,780},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp2Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,780},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp2On.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,907},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp3Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,843},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp3On.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,779},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp4Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,965},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp4On.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,715},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUpDescription1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,559},{200,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,467},{200,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,892},{200,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,375},{200,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescriptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,515},{365,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{365,252}}</string>
                <key>sourceSize</key>
                <string>{375,252}</string>
            </dict>
            <key>powerUpLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,651},{63,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>redX.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,971},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,899},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,768},{234,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,61}}</string>
                <key>sourceSize</key>
                <string>{234,63}</string>
            </dict>
            <key>ricochet.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,984},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>roundBackgroundBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{344,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{344,179}}</string>
                <key>sourceSize</key>
                <string>{350,185}</string>
            </dict>
            <key>saleBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,720},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,899},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>soundOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,907},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>soundOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,843},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>tap+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,971},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>tapHere.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,830},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>tapsHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,985},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,937},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>undoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,971},{45,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{45,48}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>yellowArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,842},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-levels-spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{975,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f48d5686c906f4bd26290cdd8facd024:1/1$</string>
            <key>textureFileName</key>
            <string>popper-levels-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
