<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicTraining.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{215,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{215,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>blackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>fourPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,200},{217,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{217,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>freeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,321},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>freeGoldArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,200},{145,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{145,120}}</string>
                <key>sourceSize</key>
                <string>{157,126}</string>
            </dict>
            <key>gameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,399},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,87}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>greySubmenuLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,200},{86,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{86,112}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>megaPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,200},{217,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{217,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>menu-settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,399},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,87}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>moreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,393},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,87}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>moreGamesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,321},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{115,75}}</string>
                <key>sourceSize</key>
                <string>{157,99}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,399},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,87}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,399},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,87}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>popometerPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{217,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{217,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>settingsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,417}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{110,417}}</string>
                <key>sourceSize</key>
                <string>{110,449}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,399},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,87}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,399},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,87}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>threePoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{217,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{217,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>twoPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,194},{217,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{217,198}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>warehouseArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,393},{100,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>warehouseArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{100,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popper-menu-spritesheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1021,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d841830217880123c4376402bdc24c4:1/1$</string>
            <key>textureFileName</key>
            <string>popper-menu-spritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
