<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gears of War</key>
	<string>This game was the fastest-selling video game of 2006.</string>
	<key>de Blob</key>
	<string>This game allows players to explore and liberate an alien city from the evil, monochromatic INKT Corporation.</string>
	<key>Lemmings</key>
	<string>The Humans was one of the first video game clones of this game.</string>
	<key>Viva Piñata</key>
	<string>4Kids Entertainment produces a computer-animated television series based on this game.</string>
	<key>Summoner</key>
	<string>This game&apos;s characters act out a Dungeon and Dragons role-playing skit at the end of the credits.</string>
	<key>Altered Beast</key>
	<string>You can shoot lightning bolts out of your eyes as a character in this game.</string>
	<key>Tales of Graces</key>
	<string>The hero of this game inhabits a world called Ephinea.</string>
	<key>Mafia II</key>
	<string>Your character almost dies in Sicily during Operation Husky.</string>
	<key>Brothers in Arms: Hell&apos;s Highway</key>
	<string>An Action Cam was a new addition in this game.</string>
	<key>Day of the Tentacle</key>
	<string>The Chron-o-John and the Sludge-o-Matic machines are vital in this game&apos;s story.</string>
	<key>Civilization Revolution</key>
	<string>This game won IGN&apos;s Best Xbox 360 Strategy Game in 2008.</string>
	<key>Borderlands 2</key>
	<string>Golden Keys are part of this game&apos;s SHiFT rewards program.</string>
	<key>Tales of Xillia 2</key>
	<string>This title spawned three manga adaptions: two anthology volumes and a traditional manga series.</string>
	<key>Gears of War 2</key>
	<string>Your character takes part in Operation: Hollow Storm.</string>
	<key>Tom Clancy&apos;s Rainbow Six: Vegas 2</key>
	<string>This game, the seventh in the series, removed the lead character in favor of having the player create their own.</string>
	<key>Indiana Jones and the Last Crusade</key>
	<string>You have to get your diary back in this colorful title.</string>
	<key>Daikatana</key>
	<string>In 2009, ScrewAttack named this game the #7 bust on their &quot;Top 10 Biggest Busts.&quot;</string>
	<key>Battlefield 3</key>
	<string>This game takes you to Paris, Tehran, New York, Oman and many other locations.</string>
	<key>Borderlands</key>
	<string>The Atlas Corporation and Dahl Corporations make up the story for this game.</string>
	<key>The Lord of the Rings: War in the North</key>
	<string>This is the first game in the series to be rated M by the ESRB.</string>
	<key>Super Metroid</key>
	<string>Developed in under 18 months, this game&apos;s hero attempts to retrieve a stolen parasitic jellyfish-like organism from Space Pirates.</string>
	<key>Devil May Cry 4</key>
	<string>Your character works for The Order of the Sword.</string>
	<key>The Secret of Monkey Island</key>
	<string>Writer Orson Scott Card helped write insults used in this game.</string>
	<key>Alpha Protocol</key>
	<string>Players journey to Rome, Moscow and Taipei in this original and underrated game.</string>
	<key>Tom Clancy&apos;s Splinter Cell: Conviction</key>
	<string>Gameloft released a handheld version of the game for Apple&apos;s iOS on May 27, 2010.</string>
	<key>The Darkness</key>
	<string>This game features an Italian-American hitman for the mafia named Jackie Estacado as the protagonist.</string>
	<key>Ogre Battle 64</key>
	<string>In this game, the main protagonist was a character called Magnus.</string>
	<key>Medieval Total War</key>
	<string>Espionage is a way of life in this hit title.</string>
	<key>L.A. Noire</key>
	<string>This game earns the title as the first video game ever to be shown at the Tribeca Film Festival.</string>
	<key>F.E.A.R. 3</key>
	<string>This game&apos;s soundtrack features the song &quot;Sweet Dreams (Are Made Of This)&quot; by Marilyn Manson and &quot;Just Like You&quot; by Three Days Grace.</string>
	<key>Halo 3</key>
	<string>This science fiction game takes place during the years 2552 and 2553.</string>
	<key>Call of Duty Black Ops II</key>
	<string>A Chinese ban on rare earth elements leads to a new Cold War in this game.</string>
	<key>Myst</key>
	<string>Players take on the role of the Stranger in this unique, ground-breaking game.</string>
	<key>Endless Ocean</key>
	<string>Katherine Sunday was the assistant to the main character in this title.</string>
	<key>inFamous 2</key>
	<string>This game features a device called the Ray Sphere.</string>
	<key>Assassin&apos;s Creed 2</key>
	<string>Leonardo da Vinci aids players in this action-packed game.</string>
	<key>Guitar Hero: Metallica</key>
	<string>Earn a maximum of 245 stars in this title!</string>
	<key>Max Payne 3</key>
	<string>In this game your character flees to South America and becomes a private security contractor.</string>
	<key>The 7th Guest</key>
	<string>This game is set in 1935 in the town of Harley-on-the-Hudson.</string>
	<key>Crysis</key>
	<string>Players fight both North Korean and extraterrestrial enemies in this top-rated game.</string>
	<key>Mass Effect</key>
	<string>&quot;Doesn&apos;t have one, he was raised in the streets&quot; is a quote during this game&apos;s opening.</string>
	<key>Supreme Commander 2</key>
	<string>This game released an expansion pack called Infinite War Battlepack DLC.</string>
	<key>Mirror Edge</key>
	<string>This game was inspired by parkour.</string>
	<key>Rise and Fall of Ancient Empires</key>
	<string>This 1996 Sierra Online title wasn&apos;t able to conquer the competition.</string>
	<key>Prototype 2</key>
	<string>Commercials for the release of this game used the song &quot;Hurt&quot; sung by Johnny Cash in the background.</string>
	<key>Alan Wake</key>
	<string>This game takes place in Bright Falls, Washington.</string>
	<key>Oblivion</key>
	<string>This game features a fanatical cult known as the Mythic Dawn.</string>
	<key>Silent Hill Homecoming</key>
	<string>This game follows the journey of Alex Shepherd, a soldier returning from war.</string>
	<key>Overlord</key>
	<string>In this game, seven heroes are corrupt, each with a trait representing one of the seven deadly sins.</string>
	<key>Neverwinter Nights</key>
	<string>Shipped with the Aurora toolset, this game now has over 4000 user designed mods.</string>
	<key>Dragon Age Origins</key>
	<string>IGN&apos;s PC Game of The Year 2009.</string>
	<key>Star Wars: The Old Republic</key>
	<string>You have the option to play as the Cathar in this title.</string>
	<key>Just Cause 2</key>
	<string>You might run into the &quot;Sloth Demon&quot; in this title.</string>
	<key>Madden NFL</key>
	<string>Donning this cover might just bring a curse upon you.</string>
	<key>Beyond Zork</key>
	<string>You will discover a monstrous race called grues in this game.</string>
	<key>Fable II</key>
	<string>This game allowed divorces to happen to your character.</string>
	<key>Gran Turismo 5</key>
	<string>This title is the second most expensive game in history to be developed.</string>
	<key>God of War</key>
	<string>In 2009, entertainment website IGN named the title the seventh-best PlayStation 2 game of all time.</string>
	<key>Lego Harry Potter: Years 5-7</key>
	<string>Feral Interactive released this title on the MAC OS X on March 7, 2012.</string>
	<key>Indiana Jones and the Fate of Atlantis</key>
	<string>This game&apos;s story was written by Hal Barwood and Noah Falstein.</string>
	<key>Galactic Battles</key>
	<string>Considered by many to be the hardest space sim on iOS.</string>
	<key>Yakuza: Dead Souls</key>
	<string>Taking place during a zombie outbreak in Kamurocho was a major departure from the storyline of this series.</string>
	<key>Tiger Woods PGA Tour</key>
	<string>In May 2011, Polish Prime Minister Donald Tusk gave American President Barack Obama a Collector&apos;s Edition copy of this game.</string>
	<key>RAGE</key>
	<string>The story behind this title involves asteroid 99942 Apophis that impacts the Earth on August 23, 2029, leaving few survivors.</string>
	<key>Driver: San Francisco</key>
	<string>A comic book mini-series was published by Wildstorm Productions based on the game.</string>
	<key>Arcania: Gothic 4</key>
	<string>Players start this game returning from an adventure to find their village torched and looted.</string>
	<key>Overlord II</key>
	<string>A live-action television talk show&apos;s parody was produced based on this game.</string>
	<key>Gears of War 3</key>
	<string>Author Karen Traviss wrote the story to this game.</string>
	<key>Dishonored</key>
	<string>Won the 2013 British Academy Video Games Awards for Best Game.</string>
	<key>Resident Evil</key>
	<string>This series has sold over 50 million copies worldwide since its release on March 22, 1996.</string>
	<key>Portal</key>
	<string>This game won 76 awards, including 37 Game of the Year awards.</string>
	<key>Wolfenstein: Spear of Destiny</key>
	<string>This game consists of a single 21-level episode, 19 of which need to be completed in order to win the game.</string>
	<key>Supreme Commander</key>
	<string>This game, the first in its series, is set in a future where humanity is able to travel through the galaxy quickly using a quantum gateway.</string>
	<key>Baroque</key>
	<string>The objective of this title is to guide the nameless, mute, and amnesiac player character through the Neuro Tower to the bottom floor.</string>
	<key>Donkey Kong Kountry Returns</key>
	<string>This game featured creatures known as Tikis.</string>
	<key>Syndicate</key>
	<string>Miles Kilo, Jules Merit and Lily Drawl are all characters in this game.</string>
	<key>Far Cry 3</key>
	<string>Your character must save your friends who have been captured by pirates.</string>
	<key>Birthright: The Gorgon&apos;s Alliance</key>
	<string>Take on the role as a regent of a nation in the Land of Anuire in this RTS, adventure game.</string>
	<key>Lair</key>
	<string>The world divided itself into two kingdoms after numerous emerging volcanoes destroyed much of the land in this title.</string>
	<key>Fifa 13</key>
	<string>As of May 2013, this game&apos;s sales topped 14.5 million copies.</string>
	<key>The Darkness II</key>
	<string>This game has a separate cooperative campaign that runs parallel to the main campaign called Vendettas.</string>
	<key>Ratchet and Clank: All 4 One</key>
	<string>A limited online beta was launched for this game on September 14, 2011, until September 27, 2011.</string>
	<key>Silent HIll: Downpour</key>
	<string>Howard Blackwood is the name of the postman in this title.</string>
	<key>Kingdoms of Amalur: Reckoning</key>
	<string>You can visit Saint Eadric&apos;s Mission in this graphically stimulating game.</string>
	<key>Sleeping Dogs</key>
	<string>Exective Producer - Prototype 2The main character in this title is Detective Wei Shen.</string>
	<key>Tekken 6</key>
	<string>It is the first title of its series to include multi-tiered stages and a bound system.</string>
	<key>Cosmic Ark</key>
	<string>This game is believed to be the first-ever console game sequel.</string>
	<key>Batman: Arkhan City</key>
	<string>Players must uncover the secret behind this game&apos;s sinister scheme, Protocol 10.</string>
	<key>Ghouls &apos;n Ghosts</key>
	<string>Considered by many tobe the hardest game to play on the Sega Genesis.</string>
	<key>Dead Rising 2</key>
	<string>There are six possible endings for this Xbox 360 game.</string>
	<key>Doom 3</key>
	<string>The employees that worked on this title delivered an ultimatum to their bosses: let them make this game or fire them.</string>
	<key>Kameo: Elements of Power</key>
	<string>Thorn got kissed in this game.</string>
	<key>Two Worlds II</key>
	<string>The character Gandohar has named himself Emperor in this title.</string>
	<key>IL-2 Sturmovik: Birds of Prey</key>
	<string>This game takes players from Stalingrad to Sicily.</string>
	<key>BioShock</key>
	<string>This game was based on the ideas of Objectivism as highlighted by Ayn Rand.</string>
	<key>Dynasty Warriors 7</key>
	<string>The game was said  to have improved graphics and gameplay, with the support of stereoscopic 3D.</string>
	<key>Space Quest</key>
	<string>Play as a hapless janitor in this title.</string>
	<key>Halo</key>
	<string>As of 2013, there are seven game titles baring this game&apos;s name.</string>
	<key>Halo II</key>
	<string>This game is the best-selling first-generation Xbox game.</string>
	<key>Brute Force</key>
	<string>Your character goes to a planet called Osiris where the natives are known as Seers in this game.</string>
	<key>Super Mario Bros 3</key>
	<string>In the movie The Wizard, this game was played at the Video Armageddon championship.</string>
	<key>Red Faction</key>
	<string>This game was the first game to run on the Geo-Mod engine.</string>
	<key>N3: Ninety-Nine Nights</key>
	<string>Play as a simple and kind Troll in this game.</string>
	<key>Star Trek: Legacy</key>
	<string>An article in Eurogamer on August 7, 2006, revealed that Derek Chester collaborated with D.C. Fontana on this game&apos;s script.</string>
	<key>Halo 4</key>
	<string>Comedian Andy Richter voices a character in this title.</string>
	<key>Tom Clancy&apos;s Splinter Cell: Double Agent</key>
	<string>There were two versions of this game made, Generation Six and Generation Seven.</string>
	<key>Fester Mudd: Curse of the Gold</key>
	<string>Never leave home without Martha.</string>
	<key>Metro: Last Light</key>
	<string>A hidden &apos;Karma&apos; system effects players in this game, but its results are not revealed until the last level.</string>
	<key>Bomberman Land</key>
	<string>There are over 40 attractions to be played in the differing Zones in this colorful game!</string>
	<key>Final Fantasy VIII</key>
	<string>Ever been to Esthar?</string>
	<key>Red Dead Redemption</key>
	<string>At the 2010 Spike Video Game Awards, this game won Game of the Year.</string>
	<key>Lost Planet 2</key>
	<string>You can sustain T-ENG presence longer in this game due to the warmer climates.</string>
	<key>The Witcher</key>
	<string>Based on books of the same name by author Andrzej Sapkowski, this game&apos;s first title was only available on PC.</string>
	<key>Tale of Vesperia</key>
	<string>Terca Lumireis is the world in which this game takes place.</string>
	<key>Assassin&apos;s Creed III</key>
	<string>Your character receives emails from 01001010010101010100111001001111 in this action game.</string>
	<key>Legend of Dragoon</key>
	<string>This game features three modes of play: the field map, a battle mode, and an overworld map.</string>
	<key>Just Cause</key>
	<string>Let&apos;s take a trip down to San Esperito.</string>
	<key>Medal of Honor</key>
	<string>Filmmaker Steven Spielberg launched this gaming franchise in 1999.</string>
	<key>Tropico 3</key>
	<string>This game&apos;s Collector&apos;s Edition was never released as its pre-order options were cancelled on September 30, 2009.</string>
	<key>One Piece: Pirate Warriors</key>
	<string>This game was first announced in the early September issue of the Weekly Shōnen Jump magazine.</string>
	<key>Tomb Raider</key>
	<string>This game won IGN&apos;s Best of E3 2012 Awards.</string>
	<key>Contra</key>
	<string>Red Falcon Organization is a terrorist group planning to take over the world in this game.</string>
	<key>Crysis 3</key>
	<string>Players take on the role of Prophet in this game set in the year 2047.</string>
	<key>Star Wars: The Force Unleashed</key>
	<string>This game opens with the player killing giant aliens.</string>
	<key>The Orange Box</key>
	<string>This game won the  &quot;Breakthrough Technology Award&quot; and the &quot;Best PC Game Award&quot; at the 2007 Spike Video Game Awards.</string>
	<key>F.E.A.R</key>
	<string>This is the first game developed using the newest iteration of Monolith&apos;s Lithtech engine. Codenamed &quot;Jupiter EX.&quot;</string>
	<key>The Chronicles of Riddick: Assault on Dark Athena</key>
	<string>The actor who plays this game&apos;s lead character, was also involved in the game&apos;s production.</string>
	<key>Endless Ocean:Blue Ocean</key>
	<string>The main character of this title embarks on a quest to learn about the Song of Dragons.</string>
	<key>Clive Barker&apos;s Undying</key>
	<string>This game won Gamespot&apos;s &quot;Best Game No One Played&quot; award in 2001.</string>
	<key>Top Spin 4</key>
	<string>This game developed with the Pam Engine allowed players to visit more than 25 real world locations.</string>
	<key>The Lord of the Rings: Conquest</key>
	<string>Five months after this game&apos;s server shut down, a group of fans launched the non-profit CNQReboot servers, allowing its PC players to play online.</string>
	<key>Kirby&apos;s Return to Dreamland</key>
	<string>The main plot of this title involves characters retrieving scattered pieces of a crashed alien spaceship.</string>
	<key>Lost Planet 3</key>
	<string>Neo-Venus Construction is helping you this time around…right?</string>
	<key>Yakuza 3</key>
	<string>The Sunshine Orphanage is run by the main protagonist in this game.</string>
	<key>Metal Gear Solid</key>
	<string>Your character must liberate the president of a major arms manufacturer in this fun game.</string>
	<key>Mass Effect 3</key>
	<string>This game was Game Informer&apos;s 2012 Game of the Year.</string>
	<key>Parasite Eve</key>
	<string>This game takes place over a six-day span in New York City in 1997.</string>
	<key>Yakuza 4</key>
	<string>Available mini-games for this title include pachinko, fishing, onsen bath, table tennis, hanafuda and karaoke.</string>
	<key>Aces of the Deep</key>
	<string>This game came with a realistic Kriegsmarine Grid map.</string>
	<key>Fallout: New Vegas</key>
	<string>You can join Caesar&apos;s Legion in this game.</string>
	<key>Dead Space 2</key>
	<string>This game ran a Facebook competition to get a fan&apos;s face in the game by creating a piece of text, video or artwork detailing a kill by its main character.</string>
	<key>Duke Nukem 3D</key>
	<string>In 2007, this game was number 47 on GamePro.com&apos;s The 52 Most Important Video Games of All Time.</string>
	<key>Hitman: Absolution</key>
	<string>This game takes place in the fictional town of Hope, South Dakota.</string>
	<key>Left 4 Dead 2</key>
	<string>This game starts you off in Savannah and then takes you to New Orleans.</string>
	<key>SSX 3</key>
	<string>Viggo Rolig is introduced in this game.</string>
	<key>Lego Harry Potter: Years 1-4</key>
	<string>Ghost Studs assist players in this title.</string>
	<key>Demon&apos;s Souls</key>
	<string>This game has been described as a spiritual successor to the King&apos;s Field series of games.</string>
	<key>Comix Zone</key>
	<string>Run and jump through pages in this game.</string>
	<key>Turok</key>
	<string>Your player is reassigned to a general military unit called Whiskey Company after a falling out with their previous group, the Wolf Pack.</string>
	<key>Legend of the Dragon</key>
	<string>Featuring Master Chin, this game was #10 in GamePro&apos;s Top Ten worst games of 2007.</string>
</dict>
</plist>
