<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>White Knight Chronicles</key>
	<string>The Georama system is an online mode that lets the player create his own town in this title.</string>
	<key>Tetris</key>
	<string>Earned its name from a combination of the Greek numerical prefix and tennis.</string>
	<key>Catherine</key>
	<string>This game is a puzzle-platformer psychological horror adventure game.</string>
	<key>Wolfenstein 3D</key>
	<string>This game is widely regarded as having helped popularize the genre on the PC.</string>
	<key>Call of Juarez: The Cartel</key>
	<string>The only title by a major game publisher that uses the Bible for the player&apos;s character to find redemption.</string>
	<key>F.E.A.R. 2: Project Origin</key>
	<string>This game opens with your character experiencing a hallucination involving a ruined city.</string>
	<key>Command &amp; Conquer</key>
	<string>This RTS game was based on the landmark strategy game Dune 2.</string>
	<key>The Witcher 2: Assassins of Kings</key>
	<string>This game has been a critical and commercial success selling more than 1.7 million units for the PC and Xbox 360 as of May 2012.</string>
	<key>World of Warcraft</key>
	<string>A plague that happened in this game caused scientists to study the outbreak model for real life implications..</string>
	<key>Dark Souls</key>
	<string>The PC version of this title was the second most played Game for Windows Live title in 2012 based on unique users.</string>
	<key>The Walking Dead: Survival Instinct</key>
	<string>Review site Polygon  said of this game &quot;...is the exact sort of lazy, cheap cash-grab that gave licensed games a bad name in the first place.&quot;</string>
	<key>Super 3D Noah&apos;s Ark</key>
	<string>This game is the only commercial US-released SNES game not officially sanctioned by Nintendo.</string>
	<key>Dragon Age II</key>
	<string>An employee of this game&apos;s developer was caught posing as a consumer on the review site Metacritic.</string>
	<key>Mario Kart</key>
	<string>From 1992 &apos;till 2013 there have been 10 games released in this series.</string>
	<key>Wolfenstein</key>
	<string>Four promotional motion comics, each about 3 minutes long, were released for this game series.</string>
	<key>Black and White</key>
	<string>After saving a family&apos;s drowning son, the greatful family leads the player back to their village.</string>
	<key>Tom Clancy&apos;s Rainbow Six: Vegas</key>
	<string>In early 2007, this game became the first Xbox 360 title to join the Major League Gaming (MLG) Circuit.</string>
	<key>R.U.S.E.</key>
	<string>Set During World War II, this strategic war game focuses on the invasion of Nazi Germany during late 1945.</string>
	<key>Metal Gear Solid 4: Guns of the Patriots</key>
	<string>You play as a character with less than a year to live in this hit game.</string>
	<key>Spider-Man: Edge of Time</key>
	<string>This game has a character by the name of Walker Sloan.</string>
	<key>Clive Barker&apos;s Jericho</key>
	<string>This game&apos;s story features the Firstborn.</string>
	<key>Resident Evil 4</key>
	<string>This game&apos;s currency is Pesetas.</string>
	<key>Metro 2033</key>
	<string>This game is based on a novel by author Dmitry Glukhovsky.</string>
	<key>Darksiders</key>
	<string>This game&apos;s original subtitle was Wrath of War.</string>
	<key>Cyrsis 2</key>
	<string>In April 2012, this game was awarded with the Deutscher Computerspielpreis in the category Best German Game.</string>
	<key>Diablo 3</key>
	<string>In the first year of this game, over 14.5 million people accounted for 2.8 billion hours played for an average of 8.2 million hours a day.</string>
	<key>Splatterhouse</key>
	<string>Co-producer Dan Tovar is also a member in two of the bands featured in this game.</string>
	<key>Aliens: Colonial Marines</key>
	<string>Considered by many to be the most disappointing game in 2013.</string>
	<key>Loom</key>
	<string>You are looking for swans in this magical title.</string>
	<key>Half-Life</key>
	<string>The hero of this game is a 27- year old MIT graduate.</string>
	<key>Gears of War: Judgement</key>
	<string>A spider-like creature called Shibboleth is in this title.</string>
	<key>UFC Undisputed 3</key>
	<string>This game&apos;s PS3 and 360 game servers were shut down in March and May of 2013.</string>
	<key>Harvest Moon: Magical Melody</key>
	<string>This title is an updated version of Bokujō Monogatari: Shiawase no Uta, which was only released in Japan.</string>
	<key>Defiance</key>
	<string>Player&apos;s characters are enlisted by industrialist Karl Von Bach in this excellent, underrated game.</string>
	<key>XCOM: Enemy Unknown</key>
	<string>This game&apos;s prototype was a straightforward remake of the original 1994 game with all the classic gameplay features.</string>
	<key>Star Ocean: The Last Hope</key>
	<string>This title revolves around  the hero and his crew combating a mysterious threat called the Grigori.</string>
	<key>Injustice: Gods Among Us</key>
	<string>This game, released in 2013, was banned in Kuwait and initially banned in the United Arab Emirates.</string>
	<key>The Sims 3</key>
	<string>This game has sold over ten million copies worldwide since its 2009 release, making it one of the best-selling computer games of all time.</string>
	<key>Quake</key>
	<string>This game consists of 28 separate &quot;levels&quot; or &quot;maps&quot; grouped into four episodes.</string>
	<key>Dante&apos;s Inferno</key>
	<string>A fast-paced commercial for this game featuring Bill Withers&apos; song &quot;Ain&apos;t No Sunshine&quot; was shown during the 2010 Super Bowl.</string>
	<key>GoldenEye 007</key>
	<string>This game was originally conceived as an on-rails shooter inspired by Sega&apos;s Virtua Cop.</string>
	<key>Operation Darkness</key>
	<string>Transform into werewolves and fight Nazi&apos;s in this strategy game.</string>
	<key>Darksiders II</key>
	<string>Players begin their quest to prove their brother&apos;s innocence by traveling to the Icy Veil in this game.</string>
	<key>AD&amp;D: Cloudy Mountain</key>
	<string>When your player is injured in this game, their color changes from black to blue then red; a third injury causes death.</string>
	<key>Crackdown</key>
	<string>This game is set in fictional Pacific City.</string>
	<key>Thundergod Matches</key>
	<string>This top rated mobile game features over 31 different icons and music by Dead Relic.</string>
	<key>Hugo&apos;s House of Horrors</key>
	<string>Trying to save Penelope is the main drive in this game.</string>
	<key>Resident Evil 5</key>
	<string>Majinis serve as an enemy in this game.</string>
	<key>Dead Space</key>
	<string>This game&apos;s character is a portmanteau of two science fiction writers, Isaac Asimov and Arthur C. Clarke.</string>
	<key>Ninja Gaiden II</key>
	<string>The Infernal High Priest offers his life to Vazdah in this game.</string>
	<key>BioShock Infinite</key>
	<string>Watch out for the Songbird in this title.</string>
	<key>Unreal Tournament</key>
	<string>Originally published in 1999 by GT Interactive.</string>
	<key>Lunar: Silver Star Story Complete</key>
	<string>This game has garnered much attention from critics for its use of fluid full-motion animated sequences.</string>
	<key>Far Cry 2</key>
	<string>This game takes place in a Central African nation in anarchy and civil war.</string>
	<key>Tropico 4</key>
	<string>An expansion for this title called Modern Times was released on March 27, 2012.</string>
	<key>Bulletstorm</key>
	<string>Players are rewarded for killing opponents in the most creative and destructive ways possible in this raunchy title.</string>
	<key>Golden Axe</key>
	<string>Advance far enough in this game and you get to ride a Dragon!</string>
	<key>Call of Duty: World at War</key>
	<string>This game includes thirteen hidden death cards, denoted by playing cards attached to makeshift graves.</string>
	<key>Grand Theft Auto IV</key>
	<string>In 2011, Game Informer Senior Editor Andrew Reiner ranked this game #1 on his list of Best Games of this Generation.</string>
	<key>Dead Space 3</key>
	<string>This game is primarily set on the frozen planet of Tau Volantis.</string>
	<key>Thief - The Dark Project</key>
	<string>Keepers strive to maintain balance within the City in this challenging game.</string>
	<key>Minecraft</key>
	<string>This game was created by Swedish programmer Markus &quot;Notch&quot; Persson.</string>
	<key>Brütal Legend</key>
	<string>This game includes over 35,000 lines of spoken dialog.</string>
	<key>Sniper: Ghost Warrior</key>
	<string>Utilizing the Chrome Engine 4, this title lets you traverse to the fictional country of  Isla Trueno.</string>
	<key>Crackdown 2</key>
	<string>Players will fight the Cell, a terrorist organization, in this game.</string>
	<key>The Last of Us</key>
	<string>Texas, Boston, and Salt Lake City are all locations in this game.</string>
	<key>Disney Epic Mickey</key>
	<string>This game takes place in world called Wasteland.</string>
	<key>Two Worlds</key>
	<string>A deck of 55 cards in a plastic box was released on December 19, 2006. The cards contained images of characters and scenes from this game.</string>
	<key>Sea Dogs</key>
	<string>IGN said that this game is &quot;one booty call you won&apos;t want to miss.&quot;</string>
	<key>Legend Zelda</key>
	<string>This game was first released as a launch title for the Family Computer Disk System.</string>
	<key>Halo 3:ODST</key>
	<string>&quot;The Navy put up a good fight&quot; is the opening in this game.</string>
	<key>The Saboteur</key>
	<string>The game&apos;s protagonist is a hard drinking Irish racecar mechanic.</string>
	<key>Star Wars: The Force Unleashed II</key>
	<string>This game utilizes the Ronin 2.0 game engine.</string>
	<key>Epic Mickey 2: The Power of Two</key>
	<string>This game&apos;s underwhelming sales helped lead to its developer, Junction Point Studios, closing their doors.</string>
	<key>Dungeon Siege III</key>
	<string>This game is the first to use the proprietary Onyx game engine.</string>
	<key>Power Stone</key>
	<string>Set in the 19th century, this game encourages strong believers of legends, myths and superstition to search for fame, fortune and glory.</string>
	<key>System Shock 2</key>
	<string>GameSpot declared this title &quot;well ahead of its time.&quot;</string>
	<key>Mortal Kombat</key>
	<string>This game focuses on the journey of monk to save Earth from an evil sorcerer.</string>
	<key>Shellshock 2: Blood Trails</key>
	<string>The plot of this title revolves around a special operations team led by Sergeant Caleb &quot;Cal&quot; Walker.</string>
	<key>Deus Ex: Human Revolution</key>
	<string>This game deals with the ethics of transhumanism.</string>
	<key>Final Fantasy VII</key>
	<string>This game was originally slated for the SNES.</string>
	<key>Saints Row</key>
	<string>This title was the first-ever review of Australian video game talk show &quot;Good Game.&quot;</string>
	<key>Mass Effect 2</key>
	<string>The Reapers awaken in this title.</string>
	<key>Dead Island</key>
	<string>On September 27, 2011, Lionsgate announced that they acquired rights to develop a film based on this game.</string>
	<key>Sniper: Ghost Warrior 2</key>
	<string>This game starts with the player taking control of private security consultant Captain Cole Anderson.</string>
	<key>Tales of Xillia</key>
	<string>This game takes place in a fictional world called Rieze Maxia and follows Jude Mathis and Milla Maxwell.</string>
	<key>Singularity</key>
	<string>This game starts with an electromagnetic surge from an uninhabited island called Katorga-12.</string>
	<key>Left 4 Dead</key>
	<string>This game&apos;s A.I. Director guarantees no two games will be alike.</string>
	<key>Ninja Gaiden 3</key>
	<string>Masato Kato wrote this 2012 game&apos;s script.</string>
	<key>Thief 2 - The Metal Age</key>
	<string>This game&apos;s main antagonist suffers from an extreme speech impediment.</string>
	<key>Call of Juarez: Bound in Blood</key>
	<string>Players are trying find the Lost Treasure of Cortez during this game.</string>
	<key>Dead Rising</key>
	<string>This game&apos;s story centers on a photojournalist who ends up trapped in Willamette, Colorado.</string>
	<key>Skyrim</key>
	<string>This game allows you to take sides in a civil war and is powered by the Creation Engine.</string>
	<key>Halo: Reach</key>
	<string>Hint: Noble Six</string>
	<key>inFamous</key>
	<string>The protagonist  in this game is a bike messenger caught in the center of an explosion that devastates several city blocks.</string>
	<key>Fable III</key>
	<string>A limited edition wireless controller for Xbox 360 released on October 5, 2010, gave players an unlockable tattoo.</string>
	<key>Call of Cthulhu: Dark Corner&apos;s of the Earth</key>
	<string>You character learns about the Great Race of Yith in this title.</string>
	<key>Final Fantasy XII</key>
	<string>Arabic and Ancient Roman culture as well as styles and deco from India and New York City shaped this game&apos;s visual elements.</string>
	<key>Battletoads</key>
	<string>This game ported by Mindscape to the Amiga.</string>
	<key>Shenmue</key>
	<string>This game&apos;s designer coined a genre title for its nonlinear gameplay, FREE (Full Reactive Eyes Entertainment).</string>
</dict>
</plist>
