<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coins_1500.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,280},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{81,113}}</string>
                <key>sourceSize</key>
                <string>{135,121}</string>
            </dict>
            <key>Coins_400.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,280},{89,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{89,113}}</string>
                <key>sourceSize</key>
                <string>{135,121}</string>
            </dict>
            <key>Coins_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,943},{79,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{79,115}}</string>
                <key>sourceSize</key>
                <string>{135,121}</string>
            </dict>
            <key>Coins_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,328},{127,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{127,113}}</string>
                <key>sourceSize</key>
                <string>{135,121}</string>
            </dict>
            <key>bg_coinshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{369,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,276}}</string>
                <key>sourceSize</key>
                <string>{369,276}</string>
            </dict>
            <key>bg_stages.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{369,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,276}}</string>
                <key>sourceSize</key>
                <string>{369,276}</string>
            </dict>
            <key>bg_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,276}}</string>
                <key>sourceSize</key>
                <string>{369,276}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,504},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>btn_coinshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,280},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>btn_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,280},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,362},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,949},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>btn_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,943},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,373},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>btn_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,457},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_nextlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,949},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_nomusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,504},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_nosound.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,457},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,280},{145,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,88}}</string>
                <key>sourceSize</key>
                <string>{145,88}</string>
            </dict>
            <key>btn_play_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{90,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,51}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>btn_removeads.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,949},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,949},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,943},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,949},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,410},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,457},{101,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,48}}</string>
                <key>sourceSize</key>
                <string>{101,48}</string>
            </dict>
            <key>coin_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,566},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>number_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{220,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,27}}</string>
                <key>sourceSize</key>
                <string>{220,27}</string>
            </dict>
            <key>select_mouse01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,373},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>select_mouse02.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,545},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>select_mouse02_.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,566},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,191}}</string>
                <key>sourceSize</key>
                <string>{135,191}</string>
            </dict>
            <key>select_mouse03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,712},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>select_mouse03_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,191}}</string>
                <key>sourceSize</key>
                <string>{135,191}</string>
            </dict>
            <key>select_mouse04.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,384},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>select_mouse04_.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,373},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,191}}</string>
                <key>sourceSize</key>
                <string>{135,191}</string>
            </dict>
            <key>select_mouse05.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,551},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>select_mouse05_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,191}}</string>
                <key>sourceSize</key>
                <string>{135,191}</string>
            </dict>
            <key>select_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,337},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>select_unlockcha.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,280},{80,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>stages_01_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,753},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,563},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_02_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,753},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_02_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,373},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_03_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,563},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_03_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,759},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_04_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,759},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>stages_04_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,373},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dadcd090af8983ad0e4f80ee0e5d0db$</string>
            <key>textureFileName</key>
            <string>atlas_menu.png</string>
        </dict>
    </dict>
</plist>
