<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coins_1500.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1479},{226,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,164}}</string>
                <key>sourceSize</key>
                <string>{226,164}</string>
            </dict>
            <key>Coins_400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,502},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>Coins_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1},{228,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,156}}</string>
                <key>sourceSize</key>
                <string>{228,156}</string>
            </dict>
            <key>Coins_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1086},{254,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,224}}</string>
                <key>sourceSize</key>
                <string>{254,224}</string>
            </dict>
            <key>bg_coinshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{552,738}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,738}}</string>
                <key>sourceSize</key>
                <string>{552,738}</string>
            </dict>
            <key>bg_stages.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1},{738,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,552}}</string>
                <key>sourceSize</key>
                <string>{738,552}</string>
            </dict>
            <key>bg_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,740},{738,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,552}}</string>
                <key>sourceSize</key>
                <string>{738,552}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1721},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1293},{138,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,82}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>btn_coinshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,341},{160,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,122}}</string>
                <key>sourceSize</key>
                <string>{160,122}</string>
            </dict>
            <key>btn_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1628},{292,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,92}}</string>
                <key>sourceSize</key>
                <string>{292,92}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1706},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,954},{140,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,121}}</string>
                <key>sourceSize</key>
                <string>{140,121}</string>
            </dict>
            <key>btn_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1650},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>btn_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,554},{693,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,92}}</string>
                <key>sourceSize</key>
                <string>{693,92}</string>
            </dict>
            <key>btn_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1721},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_nextlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1524},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>btn_nomusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1632},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_nosound.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1632},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,720},{290,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,177}}</string>
                <key>sourceSize</key>
                <string>{290,177}</string>
            </dict>
            <key>btn_play_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,729},{181,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,102}}</string>
                <key>sourceSize</key>
                <string>{181,102}</string>
            </dict>
            <key>btn_removeads.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1202},{130,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1076},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1632},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,832},{141,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,121}}</string>
                <key>sourceSize</key>
                <string>{141,121}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1432},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1729},{203,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,97}}</string>
                <key>sourceSize</key>
                <string>{203,97}</string>
            </dict>
            <key>coin_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1628},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>number_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,647},{55,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,438}}</string>
                <key>sourceSize</key>
                <string>{55,438}</string>
            </dict>
            <key>select_mouse01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1588},{230,234}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{230,234}}</string>
                <key>sourceSize</key>
                <string>{270,318}</string>
            </dict>
            <key>select_mouse02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1293},{230,226}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{230,226}}</string>
                <key>sourceSize</key>
                <string>{270,318}</string>
            </dict>
            <key>select_mouse02_.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1401},{230,338}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,38},{230,338}}</string>
                <key>sourceSize</key>
                <string>{270,382}</string>
            </dict>
            <key>select_mouse03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1341},{230,246}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{230,246}}</string>
                <key>sourceSize</key>
                <string>{270,318}</string>
            </dict>
            <key>select_mouse03_.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1397},{230,359}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{230,359}}</string>
                <key>sourceSize</key>
                <string>{270,383}</string>
            </dict>
            <key>select_mouse04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1524},{212,226}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{212,226}}</string>
                <key>sourceSize</key>
                <string>{270,318}</string>
            </dict>
            <key>select_mouse04_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,720},{212,335}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{212,335}}</string>
                <key>sourceSize</key>
                <string>{270,383}</string>
            </dict>
            <key>select_mouse05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1056},{218,236}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{218,236}}</string>
                <key>sourceSize</key>
                <string>{270,318}</string>
            </dict>
            <key>select_mouse05_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,501},{218,349}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{218,349}}</string>
                <key>sourceSize</key>
                <string>{270,383}</string>
            </dict>
            <key>select_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1729},{86,145}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,145}}</string>
                <key>sourceSize</key>
                <string>{90,161}</string>
            </dict>
            <key>select_unlockcha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,230},{110,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,156}}</string>
                <key>sourceSize</key>
                <string>{110,156}</string>
            </dict>
            <key>stages_01_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1024},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1147},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_02_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,647},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_02_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,897},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_03_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,251},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_03_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,647},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_04_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
            <key>stages_04_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1479},{376,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,249}}</string>
                <key>sourceSize</key>
                <string>{376,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_menu-ipad.png</string>
            <key>size</key>
            <string>{1827,1827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3ef4f47e13c9260e6b8638df575e08:b815cf71748cf43959d507c39101a58e:90f72c8add98b77baa22bd1c823ecdbc$</string>
            <key>textureFileName</key>
            <string>atlas_menu-ipad.png</string>
        </dict>
    </dict>
</plist>
