<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicTraining.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{213,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{213,196}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>blackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>fourPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,592},{215,196}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{215,196}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>freeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,264},{94,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>freeGoldArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{145,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{145,120}}</string>
                <key>sourceSize</key>
                <string>{157,126}</string>
            </dict>
            <key>gameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,607},{94,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>greySubmenuLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,147},{116,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{116,116}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>megaPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,669},{213,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{213,196}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>menu-settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,513},{95,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>moreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,883},{92,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>moreGamesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,889},{97,71}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{97,71}}</string>
                <key>sourceSize</key>
                <string>{157,99}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,419},{95,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,795},{93,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>popometerPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{217,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{217,200}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>settingsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{110,417}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{110,417}}</string>
                <key>sourceSize</key>
                <string>{110,449}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,701},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{93,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,359},{95,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>threePoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,453},{215,196}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{215,196}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>twoPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{215,196}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{215,196}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>warehouseArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,946},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>warehouseArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,883},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>popper-menu-spritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
