<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicTraining.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,164},{111,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>blackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>fourPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,342},{111,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>freeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>freeGoldArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,113},{75,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>gameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,276},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>greySubmenuLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,452},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>megaPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{111,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{111,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>menu-settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,113},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>moreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,113},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>moreGamesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,301},{49,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{49,38}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,113},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,454},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>popometerPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,340},{111,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>settingsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,211}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{55,211}}</string>
                <key>sourceSize</key>
                <string>{55,225}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,454},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,454},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>threePoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,189},{111,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>twoPoppers.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1},{111,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>warehouseArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,113},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>warehouseArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,301},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>popper-menu-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
