<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1877},{167,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,100}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>199Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1866},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>20gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1878},{167,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,100}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>499Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1440},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>999Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1457},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>99Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1881},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>arrowBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1464},{83,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,30}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1464},{81,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{81,28}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>blankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1881},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>buyGems.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1},{746,534}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{746,534}}</string>
                <key>sourceSize</key>
                <string>{750,540}</string>
            </dict>
            <key>buyGemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1039},{422,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{422,125}}</string>
                <key>sourceSize</key>
                <string>{424,125}</string>
            </dict>
            <key>buyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{746,546}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{746,546}}</string>
                <key>sourceSize</key>
                <string>{750,552}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1039},{423,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,125}}</string>
                <key>sourceSize</key>
                <string>{423,125}</string>
            </dict>
            <key>freeGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1483},{207,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,90}}</string>
                <key>sourceSize</key>
                <string>{207,90}</string>
            </dict>
            <key>freeHints.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1483},{328,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{328,60}}</string>
                <key>sourceSize</key>
                <string>{328,64}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1392},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>gemHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1992},{157,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,47}}</string>
                <key>sourceSize</key>
                <string>{157,47}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,997},{41,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,40}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>goldHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1992},{191,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,47}}</string>
                <key>sourceSize</key>
                <string>{191,47}</string>
            </dict>
            <key>hintButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1964},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>hintHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1992},{151,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,47}}</string>
                <key>sourceSize</key>
                <string>{151,47}</string>
            </dict>
            <key>infoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1392},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>levelCompleteBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1},{746,541}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{746,541}}</string>
                <key>sourceSize</key>
                <string>{750,549}</string>
            </dict>
            <key>megaScorer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,997},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,34}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>menuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1719},{125,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>musicOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1610},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>musicOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1501},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>needAHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,544},{746,493}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{746,493}}</string>
                <key>sourceSize</key>
                <string>{750,499}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,927},{125,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,108}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1992},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>pauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,995},{742,502}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{742,502}}</string>
                <key>sourceSize</key>
                <string>{750,508}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1811},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1499},{472,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,125}}</string>
                <key>sourceSize</key>
                <string>{472,125}</string>
            </dict>
            <key>playBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{746,444}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{746,444}}</string>
                <key>sourceSize</key>
                <string>{750,450}</string>
            </dict>
            <key>popometerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1459},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,997},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1435},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popometerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1435},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>popometerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1463},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>popperBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1790},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{104,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1614},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,69}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>popperGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1597},{104,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1881},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>popperPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1800},{104,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1811},{104,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>popperRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1992},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>popperYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1983},{102,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>powerUp1Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1392},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp1On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1519},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp2Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1646},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp2On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1392},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp3Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1519},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp3On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1392},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp4Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1856},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUp4On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1663},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>powerUpDescription1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,749},{392,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{392,176}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1039},{394,176}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{394,176}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1487},{392,174}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{392,174}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescription4.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1039},{394,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{394,176}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>powerUpDescriptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1499},{740,491}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{740,491}}</string>
                <key>sourceSize</key>
                <string>{750,503}</string>
            </dict>
            <key>powerUpLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1686},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>redX.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1964},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1826},{125,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,104}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1494},{468,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{468,123}}</string>
                <key>sourceSize</key>
                <string>{468,125}</string>
            </dict>
            <key>ricochet.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1973},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>roundBackgroundBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1039},{684,351}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{684,351}}</string>
                <key>sourceSize</key>
                <string>{700,369}</string>
            </dict>
            <key>saleBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,927},{149,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,67}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1610},{125,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,106}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>soundOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1392},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>soundOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,927},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>tap+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1992},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,34}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>tapHere.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1692},{125,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{125,117}}</string>
                <key>sourceSize</key>
                <string>{133,123}</string>
            </dict>
            <key>tapToRemoveAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,749},{246,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{246,125}}</string>
                <key>sourceSize</key>
                <string>{250,129}</string>
            </dict>
            <key>tapsHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1992},{196,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{196,50}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
            <key>undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1813},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>undoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1737},{125,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,104}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>yellowArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1614},{56,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,70}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>popper-levels-spritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
