<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,936},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>199Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,754},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>20gemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,851},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>499Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,941},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>999Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,941},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>99Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,941},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>arrowBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,734},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,734},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>blankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,941},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>buyGems.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1},{375,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,270}}</string>
                <key>sourceSize</key>
                <string>{375,270}</string>
            </dict>
            <key>buyGemsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,569},{212,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,63}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>buyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{375,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,276}}</string>
                <key>sourceSize</key>
                <string>{375,276}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,505},{212,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,63}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>freeGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,708},{104,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>freeHints.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,708},{164,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,32}}</string>
                <key>sourceSize</key>
                <string>{164,32}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,530},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>gemHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,941},{79,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,24}}</string>
                <key>sourceSize</key>
                <string>{79,24}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,505},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>goldHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,754},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>hintButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,528},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>hintHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,833},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>infoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,910},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>levelCompleteBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{375,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,275}}</string>
                <key>sourceSize</key>
                <string>{375,275}</string>
            </dict>
            <key>megaScorer.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,723},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>menuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,907},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>musicOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,859},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>musicOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,852},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>needAHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,277},{375,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,250}}</string>
                <key>sourceSize</key>
                <string>{375,250}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,723},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>noAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,708},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>pauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,504},{373,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{373,254}}</string>
                <key>sourceSize</key>
                <string>{375,254}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,411},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,377},{236,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,63}}</string>
                <key>sourceSize</key>
                <string>{236,63}</string>
            </dict>
            <key>playBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,278},{375,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,225}}</string>
                <key>sourceSize</key>
                <string>{375,225}</string>
            </dict>
            <key>popometerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1008},{100,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1008},{100,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1008},{100,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popometerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,633},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>popometerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1008},{100,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,11}}</string>
                <key>sourceSize</key>
                <string>{100,11}</string>
            </dict>
            <key>popperBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,823},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,886},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>popperGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,787},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,910},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>popperPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,886},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,501},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>popperRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,604},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>popperYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,445},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>powerUp1Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,927},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp1On.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,934},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp2Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,754},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp2On.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,822},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp3Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,822},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp3On.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,941},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp4Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,685},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUp4On.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,621},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>powerUpDescription1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,742},{198,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,742},{198,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,742},{198,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescription4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,633},{198,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,89}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>powerUpDescriptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,759},{373,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{373,248}}</string>
                <key>sourceSize</key>
                <string>{375,252}</string>
            </dict>
            <key>powerUpLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,557},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>redX.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,886},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,961},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,441},{234,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,63}}</string>
                <key>sourceSize</key>
                <string>{234,63}</string>
            </dict>
            <key>ricochet.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,991},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>roundBackgroundBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,528},{344,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{344,179}}</string>
                <key>sourceSize</key>
                <string>{350,185}</string>
            </dict>
            <key>saleBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,935},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,818},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>soundOff-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,797},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>soundOn-crazyPopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,742},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>tap+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,723},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>tapHere.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,754},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>tapsHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,628},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,377},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>undoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,961},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>yellowArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,567},{28,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>popper-levels-spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
